
{% extends 'base.html' %}
<script type="text/javascript" src={{url_for('static',filename='formSubmit.js')}}></script>
{% block page_title %}
    CFCM Comments
{% endblock %}
{% block header_title %}
    CFCM Comment page
{% endblock %}

{#next gonna be the form in content#}
{% block content %}
{{super()}}
	<form action="/commentsResult/">
		<label for="inputText">Random input field:</label>
		<input class="form-control" type="text" name="inputText" id="inputText" value="default">
		<input type="submit" value="submit" class="btn btn-primary" onclick="document.getElementById('addedText').innerHTML = Date()">
		<p id="addedText"></p>
	</form>
{% endblock %}

{% block footer %}
{{super()}}
<p>something added by Yin Yin</p>
{% endblock %}


