
{% extends 'base.html' %}

{% block page_title %}
    CFCM Comments
{% endblock %}
{% block header_title %}
    CFCM Comment page
{% endblock %}

{#next gonna be the form in content#}
{% block content %}
{{super()}}
	<!-- <form action="/comments/">
		<label for="inputText">Random input field:</label>
		<input class="form-control" type="text" name="inputText" id="inputText" value="default">
		<input type="submit" value="submit" class="btn btn-primary">		
	</form> -->
	<p id="addText"></p>
	<input class="form-control" type="text" name="inputText" id="inputText" value="default">
	<button value="submit2" onclick = "addText()">submit2</button>
	<script>
		
		function addText() {
			let element = document.getElementById("addText");
			let value = document.getElementById("inputText").value;
			element.innerHTML = value;
		}

	</script>
{% endblock %}

{% block footer %}
{{super()}}
<p>something added by Yin Yin</p>
{% endblock %}


